.order-success {
    font-family: inherit; /*Text font */
    display: flex;
    justify-content: center; /* Centers horizontal*/
    align-items: center; /*Centers vertically*/
    flex-direction: column; /*Text shows in column layout*/
    min-height: 100vh; /*Uses the whole page*/
}

.order-success h2 {
    font-size: 30px; /*Test size*/
    text-align: center; /* Centers text horizontally within h2*/
    margin: 0; /*removes margins*/
    padding-top: 100px;
}

.button-style {
    display: inline-block; /* Allows padding and width */
    padding: 10px 20px; /* Padding for the element */
    background-color: #ff4500; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline for links if using anchor tag */
    border-radius: 5px; /* Optional: Make the corners rounded */
}