<%- include("./../partials/header.ejs")  %>

    <div class="header-div">
        <h1>Welcome to BurgerHub</h1>
        <img class="bigimg" src="/BurgerBuddy.png" alt="Burger" >
    </div>

<%- include("./../partials/footer.ejs")  %>