<%- include("./../partials/header.ejs")  %>

<div class="container">
    <h1>Order Your Favorite Burger</h1>

    <div class="box-container">
        <div class="box">
            <h2>McCaterpillar</h2>
            <img src="/mcburger.png" alt="mcburger" >
            <p>"Enter Disc"</p>
            <a href="/place-order?burger=McCaterpillar">
                <button>Order Now</button>
            </a>
        </div>
        
        <div class="box">
            <h2>Double Trouble</h2>
            <img src="/dtburger.png" alt="dtburger" >
            <p>"Enter Disc"</p>
            <a href="/place-order?burger=DoubleTrouble">
                <button>Order Now</button>
            </a>
        </div>
        
        <div class="box">
            <h2>Jamburger</h2>
            <img src="/jmburger.png" alt="jmburger" >
            <p>"Enter Disc"</p>
            <a href="/place-order?burger=Jamburger">
                <button>Order Now</button>
            </a>
        </div>
    </div>
</div>

<%- include("./../partials/footer.ejs")  %>
