<%- include("./../partials/header.ejs")  %>

<div class="container">
    <h1>Order Your Favorite Burger</h1>

    <div class="box-container">
        <div class="box">
            <h2>McCaterpillar</h2>
            <img src="/mcburger.png" alt="mcburger" >
            <p>"Indulge in four smashed patties, layered with cheddar, fried egg, peas, and onions, all packed between fresh lettuce. Enjoy with mashed potatoes and a glass of milk"</p>
            <a href="/place-order?burger=McCaterpillar">
                <button>Order Now</button>
            </a>
        </div>

        <div class="box">
            <h2>Double Trouble</h2>
            <img src="/dtburger.png" alt="dtburger" >
            <p>"Dive into double the fun with two juicy patties, loaded with fresh veggies and melty cheese, paired with BurgerHub's special sauce. Served with crispy fries and a refreshing Cola Zero."</p>
            <a href="/place-order?burger=DoubleTrouble">
                <button>Order Now</button>
            </a>
        </div>

        <div class="box">
            <h2>Jamburger</h2>
            <img src="/jmburger.png" alt="jmburger" >
            <p>"A unique twist with a savory beef patty topped with blueberry jam, caramelized onions, and double cheese. Served with sweet potato fries and a chilled Gränges beer"</p>
            <a href="/place-order?burger=Jamburger">
                <button>Order Now</button>
            </a>
        </div>

        <div class="box">
            <h2>KrabbyPatty</h2>
            <img src="/Krabbypatty.png" alt="KrabbyPatty" >
            <p>"A classic, irresistible burger! Perfectly grilled patty topped with crisp lettuce, tomato slices, tangy picklesite and melted cheese. Served with mozarella sticks and Fanta exotic"</p>
            <a href="/place-order?burger=KrabbyPatty">
                <button>Order Now</button>
            </a>
        </div>
    </div>
</div>

<%- include("./../partials/footer.ejs")  %>
