<%- include("./../partials/header.ejs")  %>
<!-- order.ejs -->
<h2>Select a Burger</h2>

    <form action="/place-order" method="POST">
        <label for="sidedish">Choose your side dish:</label>
        <select name="sidedish" id="sidedish" style="color:black; width: 300px; height: 40px;">
            <% sides.forEach(function(sidedish) { %>
                <option value="<%= sidedish.value %>"><%= sidedish.name %></option>
            <% }); %>
        </select>

<!-- Submit button to proceed -->
<button type="submit">Place Order</button>
</form>

<%- include("./../partials/footer.ejs")  %>
